node_modules/
.env
.DS_Store
backend/db.sqlite3
backend/.venv/

# Python cache
__pycache__/
*.pyc

# frontend cache
frontend/dist/
frontend/.vite/

# Ide and editor files
.idea/
.vscode/
*.swp
*.swo

# Testing files
backend/cookies.txt
backend/tests/manual/*.json
backend/tests/manual/wr*.json
backend/wr1_response.txt

# Pytest / Coverage
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log
